<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET Benchmark</title>
</head>
<body>
    <div class="wrapper">
        <h1>Ext.NET Benchmark</h1>
    </div>

    <p>
        <ul>
            <li>
                See <a href="~/Benchmark/Grid">/Benchmark/Grid</a> benchmark page
            </li>
            <li>
                The page accepts an optional <b>count</b> query string parameter specifying number of grids (<a href="~/Benchmark/Grid?count=3">sample</a>)
            </li>
            <li>
                If an optional <b>test</b> parameter specifies a test name - the results will be saved to a file (<a href="~/Benchmark/Grid?test=benchmark">sample</a>)
            </li>
        </ul>
    </p>

    <p>
        Docker Instructions:

        <ul>
            <li>
                CD to: <b>~\benchmarks</b>
            </li>
            <li>
                Build a Docker image: <b>docker build -t extnet-benchmark-classic5 -f ".\Ext.Net.Benchmarks.Classic5\Dockerfile" .</b>
            </li>
            <li>
                Run a Docker container: <b>docker run -p 5000:80 --cpus 4 -v "d:\_results":"c:\app\results" --name ext-bench-classic5 extnet-benchmark-classic5</b>
            </li>
        </ul>
    </p>
</body>
</html>